PORT=3000
NODE_ENV=development
DB_URL=mysql://root:YOUR_PASSWORD@localhost:3306/shoptemple
DB_PASSWORD=YOUR_PASSWORD
JWT_SECRET=your-secret
REQUIRE_AUTH=truePORT=2006

RESEND_API_KEY=resend_api_key_here

CLIENT_URL=http://localhost:5173

EMAIL_FROM="onboarding@resend.dev"
EMAIL_FROM_NAME="ShopTemple"

CLOUDINARY_CLOUD_NAME = zc2rkvg6
CLOUDINARY_API_KEY = 352654922434914
CLOUDINARY_API_SECRET = xxxxxxxxxxxx