PORT=3000
NODE_ENV=development
DB_URL=mysql://root:YOUR_PASSWORD@localhost:3306/shoptemple
DB_PASSWORD=YOUR_PASSWORD
JWT_SECRET=your-secret
REQUIRE_AUTH=true
RESEND_API_KEY=your_resend_api_key_here
CLIENT_URL=http://localhost:5173
EMAIL_FROM="onboarding@resend.dev"
EMAIL_FROM_NAME="ShopTemple"