PORT=2006
NODE_ENV=development
# NODE_ENV=production
DB_URL=your_mysql_uri_here

JWT_SECRET = your_jwt_secret
REQUIRE_AUTH = true

RESEND_API_KEY=resend_api_key_here

CLIENT_URL=http://localhost:5173

EMAIL_FROM="onboarding@resend.dev"
EMAIL_FROM_NAME="ShopTemple"

CLOUDINARY_CLOUD_NAME = zc2rkvg6
CLOUDINARY_API_KEY = 352654922434914
CLOUDINARY_API_SECRET = xxxxxxxxxxxx